In [4]:
import pandas as pd

df = pd.read_csv('../res/dataset.csv')
df

,hosp_0,diag_0,dead_0,hosp_1,diag_1,dead_1,hosp_2,diag_2,dead_2,hosp_3,...,diag_39,dead_39,hosp_40,diag_40,dead_40,hosp_41,diag_41,dead_41,init_zone,actuated_zone
0,6.0,350.0,85.0,5.0,355.0,85.0,4.0,359.0,85.0,4.0,...,426.0,91.0,2.0,427.0,91.0,2.0,427.0,91.0,W,R
1,6.0,407.0,85.0,7.0,410.0,85.0,5.0,413.0,86.0,6.0,...,436.0,91.0,1.0,437.0,91.0,1.0,438.0,91.0,R,Y
2,2.0,427.0,91.0,2.0,427.0,91.0,2.0,427.0,91.0,1.0,...,461.0,92.0,3.0,465.0,92.0,3.0,466.0,92.0,Y,O
3,2.0,440.0,91.0,2.0,441.0,91.0,3.0,442.0,91.0,4.0,...,482.0,92.0,2.0,484.0,92.0,2.0,485.0,92.0,O,O
4,3.0,467.0,92.0,2.0,468.0,92.0,2.0,470.0,92.0,1.0,...,517.0,93.0,2.0,519.0,93.0,2.0,521.0,93.0,O,W
5,3.0,485.0,92.0,3.0,486.0,92.0,3.0,486.0,92.0,4.0,...,551.0,95.0,3.0,552.0,96.0,3.0,553.0,96.0,W,Y
6,2.0,521.0,93.0,2.0,523.0,93.0,1.0,525.0,94.0,1.0,...,568.0,97.0,6.0,571.0,98.0,6.0,573.0,98.0,Y,Y
7,7.0,328.0,73.0,6.0,331.0,73.0,6.0,337.0,73.0,7.0,...,361.0,75.0,4.0,362.0,75.0,5.0,363.0,75.0,R,W
8,2.0,343.0,75.0,1.0,343.0,75.0,0.0,343.0,75.0,0.0,...,377.0,79.0,2.0,377.0,79.0,2.0,377.0,79.0,W,O
9,6.0,363.0,75.0,6.0,364.0,75.0,6.0,364.0,76.0,4.0,...,400.0,79.0,1.0,401.0,79.0,1.0,402.0,79.0,O,Y
10,2.0,378.0,79.0,0.0,378.0,79.0,0.0,379.0,79.0,0.0,...,431.0,79.0,6.0,432.0,79.0,6.0,432.0,79.0,Y,Y
11,1.0,403.0,79.0,0.0,405.0,79.0,0.0,407.0,79.0,1.0,...,452.0,81.0,1.0,454.0,81.0,1.0,454.0,81.0,Y,O
12,3.0,433.0,80.0,3.0,433.0,80.0,1.0,435.0,81.0,1.0,...,474.0,83.0,1.0,474.0,83.0,1.0,475.0,83.0,O,O
13,1.0,455.0,81.0,2.0,456.0,81.0,2.0,457.0,81.0,3.0,...,490.0,83.0,2.0,490.0,83.0,2.0,492.0,83.0,O,O

In [5]:
rolling_days = 7
period = 42
actuation_day = period // 2

## Hospitalized Columns Preprocessing

In [6]:
hosp_cols = ['hosp_' + str(day) for day in range(period)]
hosp = df[hosp_cols]
hosp_rows = []
for idx, row in hosp.iterrows():
    input = row[:actuation_day].rolling(rolling_days).mean()[rolling_days-1:]
    input['target_hosp'] = row[actuation_day:].max()
    hosp_rows.append(input)
hosp_df = pd.concat(hosp_rows, axis=1).transpose()
hosp_df

,hosp_6,hosp_7,hosp_8,hosp_9,hosp_10,hosp_11,hosp_12,hosp_13,hosp_14,hosp_15,hosp_16,hosp_17,hosp_18,hosp_19,hosp_20,target_hosp
0,4.142857,3.714286,3.571429,3.571429,3.571429,3.571429,3.571429,3.714286,3.857143,4.000000,4.142857,4.285714,4.428571,4.857143,5.142857,8.0
1,6.714286,7.000000,6.714286,6.714286,6.857143,6.857143,6.857143,6.857143,6.857143,6.714286,6.571429,6.142857,5.428571,4.571429,3.714286,2.0
2,1.428571,1.285714,1.142857,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.0
3,3.000000,3.285714,3.571429,3.428571,3.142857,2.857143,2.857143,2.857143,2.714286,2.571429,2.714286,2.857143,3.000000,3.000000,3.000000,3.0
4,1.428571,1.000000,0.714286,0.428571,0.285714,0.142857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.142857,0.428571,0.714286,5.0
5,3.571429,3.714286,3.857143,3.857143,3.714286,3.714286,3.857143,3.857143,3.714286,3.571429,3.571429,3.714286,3.428571,3.000000,2.714286,3.0
6,1.714286,1.857143,2.000000,2.285714,2.571429,2.571429,2.571429,2.428571,2.285714,2.142857,2.000000,1.857143,2.142857,2.285714,2.428571,8.0
7,6.428571,6.142857,6.000000,6.000000,5.571429,5.142857,4.714286,4.571429,4.285714,4.000000,3.571429,3.285714,3.000000,2.714286,2.428571,5.0
8,0.428571,0.142857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.285714,0.714286,1.142857,1.571429,2.142857,2.857143,6.0
9,5.142857,4.857143,4.571429,4.428571,4.428571,4.428571,4.000000,3.571429,3.285714,3.000000,2.571429,2.285714,2.000000,2.000000,2.000000,2.0
10,0.714286,0.571429,0.714286,0.857143,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,6.0
11,0.714286,0.857143,1.142857,1.428571,1.714286,2.000000,2.285714,2.857143,3.285714,3.714286,4.142857,4.428571,4.857143,5.285714,5.428571,3.0
12,1.428571,1.000000,0.571429,0.428571,0.285714,0.142857,0.000000,0.000000,0.142857,0.285714,0.428571,0.571429,0.714286,0.857143,1.000000,5.0
13,3.285714,3.857143,4.285714,4.428571,4.142857,3.571429,3.000000,2.428571,1.857143,1.285714,1.000000,1.000000,1.000000,1.000000,1.000000,2.0

## Dead Columns Preprocessing

In [7]:
dead_cols = ['dead_' + str(day) for day in range(period)]
dead = df[dead_cols]
dead_rows = []
for idx, row in dead.iterrows():
    input = row[rolling_days-1:actuation_day]
    input['target_dead'] = row[-1] - row[actuation_day]
    dead_rows.append(input)
dead_df = pd.concat(dead_rows, axis=1).transpose()
dead_df

,dead_6,dead_7,dead_8,dead_9,dead_10,dead_11,dead_12,dead_13,dead_14,dead_15,dead_16,dead_17,dead_18,dead_19,dead_20,target_dead
0,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0,6.0
1,86.0,86.0,88.0,88.0,88.0,88.0,88.0,88.0,88.0,90.0,90.0,90.0,91.0,91.0,91.0,0.0
2,91.0,91.0,91.0,91.0,91.0,91.0,91.0,91.0,91.0,91.0,91.0,91.0,91.0,91.0,91.0,1.0
3,91.0,91.0,91.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,0.0
4,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,1.0
5,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,93.0,93.0,93.0,3.0
6,94.0,94.0,94.0,94.0,94.0,95.0,95.0,95.0,95.0,95.0,95.0,95.0,95.0,96.0,96.0,2.0
7,74.0,74.0,74.0,74.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,0.0
8,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,4.0
9,77.0,78.0,78.0,78.0,78.0,78.0,79.0,79.0,79.0,79.0,79.0,79.0,79.0,79.0,79.0,0.0
10,79.0,79.0,79.0,79.0,79.0,79.0,79.0,79.0,79.0,79.0,79.0,79.0,79.0,79.0,79.0,0.0
11,79.0,79.0,79.0,79.0,79.0,79.0,79.0,79.0,79.0,79.0,79.0,79.0,79.0,79.0,79.0,1.0
12,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0,2.0
13,81.0,81.0,81.0,82.0,83.0,83.0,83.0,83.0,83.0,83.0,83.0,83.0,83.0,83.0,83.0,0.0

## Diagnoses Columns Preprocessing

In [8]:
diag_cols = ['diag_' + str(day) for day in range(period)]
diag = df[diag_cols]
diag_rows = []
for idx, row in diag.iterrows():
    input = row[rolling_days-1:actuation_day]
    diag_rows.append(input)
diag_df = pd.concat(diag_rows, axis=1).transpose()
diag_df

,diag_6,diag_7,diag_8,diag_9,diag_10,diag_11,diag_12,diag_13,diag_14,diag_15,diag_16,diag_17,diag_18,diag_19,diag_20
0,369.0,370.0,377.0,378.0,379.0,382.0,384.0,386.0,387.0,388.0,389.0,391.0,394.0,401.0,406.0
1,423.0,424.0,425.0,425.0,425.0,425.0,425.0,426.0,426.0,426.0,426.0,426.0,426.0,427.0,427.0
2,427.0,427.0,428.0,429.0,429.0,429.0,430.0,431.0,431.0,433.0,434.0,435.0,436.0,437.0,438.0
3,451.0,452.0,453.0,454.0,455.0,458.0,459.0,459.0,459.0,459.0,459.0,461.0,461.0,465.0,466.0
4,473.0,474.0,474.0,475.0,475.0,475.0,476.0,477.0,477.0,479.0,480.0,481.0,482.0,484.0,485.0
5,491.0,491.0,492.0,495.0,499.0,502.0,505.0,507.0,507.0,511.0,512.0,513.0,517.0,519.0,521.0
6,535.0,535.0,535.0,537.0,537.0,538.0,539.0,541.0,542.0,544.0,547.0,549.0,551.0,552.0,553.0
7,340.0,340.0,342.0,342.0,343.0,343.0,343.0,343.0,343.0,343.0,343.0,343.0,343.0,343.0,343.0
8,344.0,344.0,347.0,348.0,351.0,352.0,353.0,354.0,354.0,356.0,357.0,360.0,361.0,362.0,363.0
9,369.0,370.0,370.0,372.0,373.0,373.0,373.0,373.0,373.0,373.0,375.0,375.0,377.0,377.0,377.0
10,385.0,385.0,387.0,389.0,391.0,392.0,393.0,394.0,395.0,397.0,397.0,400.0,400.0,401.0,402.0
11,412.0,412.0,415.0,419.0,421.0,422.0,422.0,424.0,425.0,428.0,430.0,430.0,431.0,432.0,432.0
12,440.0,440.0,441.0,442.0,443.0,444.0,444.0,446.0,446.0,447.0,448.0,451.0,452.0,454.0,454.0
13,462.0,463.0,463.0,464.0,465.0,467.0,467.0,468.0,468.0,469.0,471.0,472.0,474.0,474.0,475.0

## Concatenation

In [9]:
pd.concat([diag_df, hosp_df, dead_df, df['init_zone'], df['actuated_zone']], axis=1)

,diag_6,diag_7,diag_8,diag_9,diag_10,diag_11,diag_12,diag_13,diag_14,diag_15,...,dead_14,dead_15,dead_16,dead_17,dead_18,dead_19,dead_20,target_dead,init_zone,actuated_zone
0,369.0,370.0,377.0,378.0,379.0,382.0,384.0,386.0,387.0,388.0,...,85.0,85.0,85.0,85.0,85.0,85.0,85.0,6.0,W,R
1,423.0,424.0,425.0,425.0,425.0,425.0,425.0,426.0,426.0,426.0,...,88.0,90.0,90.0,90.0,91.0,91.0,91.0,0.0,R,Y
2,427.0,427.0,428.0,429.0,429.0,429.0,430.0,431.0,431.0,433.0,...,91.0,91.0,91.0,91.0,91.0,91.0,91.0,1.0,Y,O
3,451.0,452.0,453.0,454.0,455.0,458.0,459.0,459.0,459.0,459.0,...,92.0,92.0,92.0,92.0,92.0,92.0,92.0,0.0,O,O
4,473.0,474.0,474.0,475.0,475.0,475.0,476.0,477.0,477.0,479.0,...,92.0,92.0,92.0,92.0,92.0,92.0,92.0,1.0,O,W
5,491.0,491.0,492.0,495.0,499.0,502.0,505.0,507.0,507.0,511.0,...,92.0,92.0,92.0,92.0,93.0,93.0,93.0,3.0,W,Y
6,535.0,535.0,535.0,537.0,537.0,538.0,539.0,541.0,542.0,544.0,...,95.0,95.0,95.0,95.0,95.0,96.0,96.0,2.0,Y,Y
7,340.0,340.0,342.0,342.0,343.0,343.0,343.0,343.0,343.0,343.0,...,75.0,75.0,75.0,75.0,75.0,75.0,75.0,0.0,R,W
8,344.0,344.0,347.0,348.0,351.0,352.0,353.0,354.0,354.0,356.0,...,75.0,75.0,75.0,75.0,75.0,75.0,75.0,4.0,W,O
9,369.0,370.0,370.0,372.0,373.0,373.0,373.0,373.0,373.0,373.0,...,79.0,79.0,79.0,79.0,79.0,79.0,79.0,0.0,O,Y
10,385.0,385.0,387.0,389.0,391.0,392.0,393.0,394.0,395.0,397.0,...,79.0,79.0,79.0,79.0,79.0,79.0,79.0,0.0,Y,Y
11,412.0,412.0,415.0,419.0,421.0,422.0,422.0,424.0,425.0,428.0,...,79.0,79.0,79.0,79.0,79.0,79.0,79.0,1.0,Y,O
12,440.0,440.0,441.0,442.0,443.0,444.0,444.0,446.0,446.0,447.0,...,81.0,81.0,81.0,81.0,81.0,81.0,81.0,2.0,O,O
13,462.0,463.0,463.0,464.0,465.0,467.0,467.0,468.0,468.0,469.0,...,83.0,83.0,83.0,83.0,83.0,83.0,83.0,0.0,O,O